@page
@model AdminModel
@{
    ViewData["Title"] = "Admin page";
}

<div class="text-center">
    <h1 class="display-4">SEP Media Service</h1>
</div>

<div class="error-message"></div>
<div class="totalCount"></div>
<table class="table" id="media-table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">ID</th>
    <th scope="col">File Name</th>
    <th scope="col">Type</th>
    <th scope="col">Description</th>
    <th scope="col">#</th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>
@section Scripts {
  <script>
    "use strict";
    
  $( document ).ready(function() {
      
      
      $.get( "api/v1/admin/media",{"page":1, "size":-1}, function() {
        console.log("api called successfully.")
      }).done(function (data){
          console.log(data);
          $(".totalCount").html(`<div> total count : `+(data  == null ? 0 : data.totalCount)+`</div>`);
          $(function (){
            $.each(data.results, function (i, item){
              $('<tr>').append(
                          $('<td>').text(i+1),
                          $('<td>').text(item.id),
                          $('<td>').html("<a title='"+item.fileName+ "' href=\""+item.downloadUrl+"\" > "+item.fileName.substring(0,20)+"</a>" ),
                          $('<td>').text(item.mimeType),
                          $('<td>').html("<input type='text' placeholder='"+item.description+"' '/>"),
                          $('<td>').html("<input type='submit' value='update'/>")
                         
                      ).appendTo('#media-table');
            })
          })
      })
      .fail(function (){
        $(".error-message").html(`<div> failed to fetch media from server. contact support.</div>`);
      });
      
      
      
  });
  </script>
}